In [61]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})

df.dtypes

col_str    object
dtype: object

In [75]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})
df


#type확인

  col_str
0       1
1       2
2       3
3       4
4       5

In [85]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})



df['col_int'] = pd.to_numeric(df['col_str'])

df.dtypes


#새로만든 col_int생성 type확인 (int64)

col_str    object
col_int     int64
dtype: object

In [84]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})



df['col_int'] = pd.to_numeric(df['col_str'])

df
#clo_str 표 확인

  col_str  col_int
0       1        1
1       2        2
2       3        3
3       4        4
4       5        5

In [86]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})



df = pd.to_numeric(df['col_str'])

df.dtypes

#col_str을 숫자형태로 변경 (int64)

dtype('int64')

In [87]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col_str': ['1', '2', '3', '4', '5']})



df = pd.to_numeric(df['col_str'])

df

#col_str을 표로 출력

0    1
1    2
2    3
3    4
4    5
Name: col_str, dtype: int64

In [80]:
import pandas as pd
import numpy as np

rate= pd.read_html('https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8')
rate[1].dtypes

#매매기준율만 float형태확인

통화명       object
매매기준율    float64
전일대비      object
등락률       object
dtype: object

In [81]:
import pandas as pd
import numpy as np

rate= pd.read_html('https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8')
rate[1]

          통화명    매매기준율        전일대비     등락률
0      미국 USD  1187.00  전일대비하락1.50  -0.13%
1  일본 JPY 100  1085.06  전일대비하락5.56  -0.51%
2    유럽연합 EUR  1310.98  전일대비하락3.09  -0.24%
3      중국 CNY   169.68  전일대비하락0.15  -0.09%
4      영국 GBP  1546.54  전일대비상승0.24  +0.02%
5      호주 AUD   799.09  전일대비상승1.96  +0.25%
6     캐나다 CAD   893.52  전일대비하락1.33  -0.15%
7    뉴질랜드 NZD   769.89  전일대비상승2.53  +0.33%